body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

/* .container {
  width: 100%;
  max-width: 1440px;
  padding: 0 156px;
  margin: 0 auto;
} */

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.header {
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
  /* width: 1158px; */
  padding: 0 15px;
  display: flex;
  height: 72px;
  flex-shrink: 0;
  background: var(--WHITE, #fff);
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.header-logo-span {
  color: var(--NAVY-BLUE, #2e2f42);
}

.header-list {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
}

.header-link-list::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--OCEAN, #404bbf);
  position: absolute;
  left: 0;
  bottom: -1px;
}

.header-link-menu {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link-list {
  color: #404bbf;
}

.header-menu-link:hover {
  color: #404bbf;
}

.header-menu-link:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
  display: flex;
  margin-left: auto;
}

.header-link {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

.header-list-link {
  color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list-link:hover {
  color: #404bbf;
}

.header-list-link:focus {
  color: #404bbf;
}

/*------------hero-------------*/

.hero {
  padding: 188px 0;
  background: var(--NAVY-BLUE, #2e2f42);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
}

.hero-container {
  flex-shrink: 0;
  max-width: 1440px;
}

.hero-titel {
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto 48px;
}

.hero-button {
  color: var(--WHITE, #fff);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  display: block;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  margin: 0 auto;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover {
  background: var(--OCEAN, #404bbf);
}

.hero-button:focus {
  background-color: #404bbf;
}

/*------------features-------------*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* .features {
  padding: 120px 0;
} */

.features-list-container {
  padding: 96px 16px;
  border: 1px solid var(--CORNFLOWER, #be0d2d);
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.features-titei {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  display: flex;
  width: 264px;
  flex-direction: column;
  align-items: flex-start;
}

.features-item {
  /* display: flex; */
  width: 264px;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--CORNFLOWER, #be0d2d);
}

.features-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.features-container {
  width: 100%;
  height: 112px;
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

/*-----------team-card--------------*/

.team-card {
  /* padding: 120px 0; */
  background-color: #f4f4fd;
}

.team-card-container {
  padding: 96px 28px;
}

.team-card-titel {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  width: 100%;
  margin: 0 auto 72px;
}

.team-card-list-container {
  display: flex;
  width: 232px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 32px 0;
}

.team-card-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 24px; */
  gap: 48px;
}

.team-card-item {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-card-titei-list {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-card-text {
  color: var(--SLATE, #434455);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-card-soc {
  fill: #f4f4fd;
}

.link-soc {
  display: flex;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-soc:hover {
  background-color: #404bbf;
}

.link-soc:focus {
  background-color: #404bbf;
}

.team-card-list-soc {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

/*------------portfolio-------------*/

.portfolio {
  background-color: #ffffff;
  /* padding: 120px 0; */
}

.portfolio-container {
  padding: 96px 16px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* gap: 48px 24px; */
  gap: 48px;
  background-color: #ffffff;
}

.portfolio-list-container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.portfolio-item:hover .portfolio-list-text {
  transform: translateY(0%);
}

.portfolio-list-text {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: absolute;
  top: 0;
  background: var(--IRIS, #4d5ae5);
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item {
  padding: 32px 16px;
  background: var(--WHITE, #fff);
  gap: 8px;
  justify-content: center;
  /* border: 1px solid var(--CORNFLOWER, #e7e9fc); */
}

.portfolio-item {
  gap: 32px;
  flex-shrink: 0;
  border: 1px solid var(--CLOUD, #f4f4fd);
  border-top: none;
  background: var(--WHITE, #fff);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  box-shadow: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-titel {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0 auto 72px;
}

.portfolio-subtitel {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-img {
  width: 288px;
  height: 280px;
}

/*-----------------------------------------*/
/*-----------------footer------------------*/

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-text {
  max-width: 264px;
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-logo-container {
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.footer-logo-span {
  color: #f4f4fd;
}

.footer-titel {
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-link-soc {
  display: flex;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-soc:hover {
  background-color: #31d0aa;
}

.footer-link-soc:focus {
  background-color: #31d0aa;
}

/*-----------------------------------------*/

.footer-modal {
  margin-left: 80px;
}

.footer-modal-text {
  margin-bottom: 16px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-modal-form {
  display: flex;
  gap: 24px;
}

.footer-modal-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.footer-modal-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
}

.footer-modal-icon {
  margin-left: 16px;
}

/*-----------------------------------------*/

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 408px;
  min-height: 584px;
  flex-shrink: 0;
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  background: var(--DAIRY, #fcfcfc);

  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  padding: 0;
  margin-left: auto;
  display: block;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-close:hover {
  fill: #ffffff;
}

.modal-icon-close:focus {
  fill: #ffffff;
}

.modal-close-btn:hover {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:hover .modal-icon-close {
  fill: #ffffff;
}

.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:focus .modal-icon-close {
  fill: #ffffff;
}

.modal-text {
  margin-bottom: 16px;
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  outline: transparent;
  background-color: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border: 1px solid var(--IRIS, #4d5ae5);
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-label {
  color: var(--LIGHT-SLATE, #8e8f99);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  margin-top: 8px;
  margin-bottom: 4px;
}

.modal-wrap {
  margin-bottom: 8px;
}

.modal-input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-wrap-comment {
  margin-bottom: 16px;
}

.modal-comment-text {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-comment-text:focus {
  border-color: #4d5ae5;
}

.modal-comment-text::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
}

.modal-check {
  margin-bottom: 24px;
}

.check-text {
  color: var(--LIGHT-SLATE, #8e8f99);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  stroke-width: 1px;
  stroke: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
}

.check-text a {
  color: var(--IRIS, #4d5ae5);
  text-decoration-line: underline;
}

.check-text span {
  width: 16px;
  height: 16px;
  stroke-width: 1px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  stroke: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  fill: transparent;
  stroke: transparent;
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden:checked + .check-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

/* @media screen and (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 768px;
  }

  .team-card-container {
    padding: 96px 108px;
  }

  .team-card-list {
    gap: 64px 24px;
  }

  .team-card-item {
    width: calc((100% - 24px) / 2);
  }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 22px;
  }

  .portfolio-img {
    width: 356px;
    height: 300px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
} */

/* @media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .team-card {
    padding: 120px 0;
  }

  .team-card-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }

  .team-card-item {
    width: calc((100% - 72px) / 4);
  }

  

  .portfolio {
    padding: 120px 0;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }

  .portfolio-list {
    gap: 48px 24px;
  }
} */
